<div class="containe mt-2">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Accounts</div>
                <div class="card-body">
                    <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
                        <div class="input-group">
                            <label class="input-group-text">Account Id</label>
                            <input type="text" formControlName="accountId" class="form-control" />
                             <button class="btn btn-outline-info" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-8">

        </div>
    </div>
</div>